.main_slider {
  display: flex;
  flex-direction: column;
  
  align-items: center;
    
  width: 321.41px;
  overflow: hidden;
  border-radius: 6.215px;
  
  background-color: yellowgreen;

  .dots_component{
    position: absolute;
    transform: translateY(90px);
  }
}

.strip {
  display: flex;
  flex-direction: row;

  transform: translateX(964px);
}

.main_frame {
  display: inline-flex;
  flex-direction: row;

  min-width: 266.635px;

  align-items: center;
  gap: 54.78px;
  padding-right: 54.78px;


  border-radius: 6.215px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.31) 0%,
      rgba(0, 0, 0, 0.31) 100%
    ),
    linear-gradient(
      178deg,
      rgba(0, 0, 0, 0.77) 2.1%,
      rgba(3, 74, 125, 0.77) 98.87%
    ),
    url(texture-img.png),
    lightgray 0% 0% / 56.36698007583618px 56.36698007583618px repeat;
  .img {
    width: 99.43px;
    height: 103.35px;
  }

  .pTag {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16.11px;
    color: white;

    margin: 0;
    text-align: center;
  }
}

.fstShift {
  animation: fstShift .1s ease-in-out forwards;
}
.scndShift {
  animation: scndShift .1s ease-in-out forwards;
}
.thrdShift {
  animation: thrdShift .1s ease-in-out forwards;
}
.frthShift {
  animation: frthShift .1s ease-in-out forwards;
}
.fthShift {
  animation: fthShift .1s ease-in-out forwards;
}
.sixthShift {
  animation: sixthShift .1s ease-in-out forwards;
}
.svnthShift {
  animation: svnthShift 0s ease-in-out forwards;
}

@keyframes fstShift {
  from {
    transform: translateX(964px);
  }
  to {
    transform: translateX(642.6px);
  }
}

@keyframes scndShift {
  from {
    transform: translateX(642.6px);
  }
  to {
    transform: translateX(321.3px);
  }
}
@keyframes thrdShift {
  from {
    transform: translateX(321.3px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes frthShift {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-321.4px);
  }
}
@keyframes fthShift {
  from {
    transform: translateX(-321.4px);
  }
  to {
    transform: translateX(-643px);
  }
}
@keyframes sixthShift {
  from {
    transform: translateX(-643px);
  }
  to {
    transform: translateX(-964px);
  }
}
@keyframes svnthShift {
  from {
    transform: translateX(-964px);
  }
  to {
    transform: translateX(964px);
  }
}
