<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css.css"> </head>
</head>
<body>
    <div class="slides slowFade">
        <div class="slide">
            <img src="C:\Users\akars\Documents\Heat_the_METAL\PhysioAtGhar\public\ImageSlider1.png" alt="img"/>
        </div>
        <div class="slide">
            <img src="C:\Users\akars\Documents\Heat_the_METAL\PhysioAtGhar\public\ImageSlider2.png" alt="img"/>
        </div>
        <div class="slide">
            <img src="C:\Users\akars\Documents\Heat_the_METAL\PhysioAtGhar\public\ImageSlider3.png" alt="img"/>
        </div>
        <div class="slide">
            <img src="C:\Users\akars\Documents\Heat_the_METAL\PhysioAtGhar\public\ImageSlider4.png" alt="img"/>
        </div>
    </div>
</body>
</html>